/* Propriedades da página */

body,td,th 	{
			
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #BCCCD4;
			
			}

body 		{
			
			margin-left: 0px;
			margin-top: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			background-image:url(../central_assinante/imagens/pl_fundo.jpg);
			background-repeat: repeat-x;
			background-color:#3B4C60;
			background-position: 0px -30px;
			
			}