.tb_borda 			{
			
					border: 1px solid #8FA0AB;
			
					}
			
.tb_borda_pag 		{
			
					border: 1px solid #596671;
			
					}

.tb_borda_social 	{
			
					border: 1px solid #617180;
			
					}

.tb_borda_img	 	{
			
					border: 1px solid #344556;
			
					}
					
.tb_borda_fotos	 	{
			
					border: 1px solid #BCCCD4;
			
					}
					
.tb_borda_sup 		{
					
					border-top: 1px solid #8997A3;
			
					}