.tb_borda_index1 	{
					
					border: 1px solid #95A0AA;
					
					}

.tb_borda_index2 	{
					
					border: 1px solid #2C3C4B;
					
					}					

.tb_borda_menu 		{
					
					border-right-width: 1px;
					border-right-style: solid;
					border-right-color: #8FA0AB;
					
					}
